/* TODO */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Reset CSS */
/* Universal selector (*) targets every element (regardless tag, class, ID) */
*{
    margin: 0;
    padding: 0;
    /* outline: 1px dashed cyan  */
}

html{
    font-size: 16px;
    box-sizing: border-box;
}

body{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    background-color: #fff
}

a{
    text-decoration: none;
    color: inherit;
}

h2{
    color: #4a4a4a;
}

.container{
    display: grid;
    grid-template-columns: [full-start] 0.6fr [center-end center-start] 0.4fr [full-end];
    grid-template-rows: repeat(6, min-content);
}

/* TODO */

/** Start of Desktop Section **/
/** ************************ **/

/* Set up the navbar for the desktop */
nav{
    display: flex;
    grid-column: full-start / full-end;
    background-color: #fff;
    justify-content: space-between;
    height: 4rem;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    padding-right: 1rem;
    align-content: center;
}

nav ul li:last-child{
    padding-right:1.5rem;
}
nav ul li a{
    font-size: 0.9rem;
}

nav > a{
    display: flex;
    align-items: center;
}

/* Set up logo styles */
.logo{
    height: 3rem;
    margin-left: 1.5rem;
}

.logoname{
    text-transform: uppercase;
    line-height: 2rem;
    font-size: 1.5rem;
}

.logoname-bold{
    font-weight: bold;
    color: #4a4a4a;
}

.logoname-light{
    font-weight: 400;
    color: #9b9b9b;

}

/* Set up navigation links' styles */

nav > ul > li > a:hover{
    color: #6aa3e6
}


/* Set up header area */
header{
    display: flex;   
    background-color: #d8d8d8;
    align-items: center;
    justify-content: center;
}

.imgcontainer{
    padding: 2rem 1.5rem;
}

header > img{
    max-width: 100%;  /* set the max width image can take */
    height: auto; /* set img to maintain proportionality - aspect ratio */
}

header > div{
    display:flex;
    flex-direction: column;  /* set content in a single column */
    justify-content: space-evenly;  /* center content horizontally */
    height: 18rem; /* adjust desired height of container */
    padding-right: 3rem; /* created a right padding for the right header */
    color: #4a4a4a;
}

header div > h1{
    font-size: xx-large;
    font-weight: 800;
}

header div > h2{
    font-size: large;
    font-weight: 650;
}

header div > a{
    display: block;
    width: 100%;
    background-color: #4a4a4a;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0rem;
}
/* hover effect for call to action link */


/* Set up practice section */
.practice{
    display: flex;   
    flex-direction: column;
    justify-content: flex-start;
}

.practice > .imgcontainer > img{
    max-width: 100%;
    height: auto;
}

.practice .practicetext{
    padding: 0 1.5rem
}

.practice > .practicetext > h1{
    font-size: xx-large;
    padding-bottom: 1.5rem;
    color: #4a4a4a;
}

.practice > .practicetext > p{
    font-size: small;
    font-weight: 300;
}

.practice > .practicetext > p > span{
    display: block;
    margin: auto;
    font-weight: 500;
    padding: 2rem 0
}

/* Set up events section */
.events{
    display: grid;
    grid-template-rows: repeat(3, min-content);
    border-left: 1px solid #e7e7e7;
}

.events > .events-block{
    display: grid;
    grid-template-columns: 0.35fr 0.65fr;
    align-items: center;
    border-bottom: 3px double #e7e7e7;
    padding: 1rem
}

.events > .events-block:first-child{
    padding-top: 2rem;
}

.events > .events-block:last-child{
    background-color: #d8d8d8;
}

.events > .events-block > .events-desktop-img{
    width: 100%;
    height: auto;
    box-shadow: 2px 0px 0px #d8d8d8, -2px 0px 0px #d8d8d8
}

.events > .events-block > .events-text{
    margin-left: 1rem;
    height: 100%;
    align-content: center;
}

.events > .events-block > .events-text > h3{
    font-size: large;
    color: #4a4a4a;
}

.events > .events-block > .events-text > p{
    font-size: small;
    padding: 0.5rem 0
}

.events > .events-block > .events-text > a{
    color: #6aa3e6;
    font-size: small;
    font-weight: 500
}

/* Setup learning section */

#learning{
    display: grid;
    grid-column: full-start / full-end;
    background-color: #eaebec;
}

#learning > div > h2{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    margin-top: 2rem
}

.learning-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 2rem 4.5rem
}

/* Setup learning cards */
.learning-card{
    background-color: #fff;
}

.learning-card:hover{
    transition: 0.45s ease-out;
    transform: scale(1.05)
}

.learning-card > a > img{
    display: block;
    max-width: 100%;
    height: auto;
}

#learning > .learning-container > .learning-card > a > .learning-text{
    margin: 1rem 1rem 2rem 1rem;
    color: #4a4a4a
}

#learning > .learning-container > .learning-card > a > .learning-text > h4{
    font-size: large;
}

#learning > .learning-container > .learning-card > a > .learning-text > .courses{
    text-transform: uppercase;
    margin: 0.5rem 0rem;
    font-size: small;
}

#learning > .learning-container > .learning-card > a > .learning-text > .scope{
    font-size: small;

}

/* Setup thesis section */
#thesis-title{
    display: flex;
    grid-column: full-start / full-end;
    justify-content: center;
}

#thesis-title > h2{
    font-size: xx-large;
    padding: 2rem 0
}

#thesis-video{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 1.5rem;
    color: #4a4a4a
}

#thesis-video > video{
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
}

#thesis-video > h2{
    font-weight: 600
}

#thesis-video > p{
    padding: 0.5rem 0 2rem 0;
    font-size: small
}


#thesis-right{
    display: grid;
    grid-template-rows: repeat(2, min-content);

}

#thesis-right > .thesis-block{
    display: grid;
    grid-template-columns: 0.35fr 0.65fr;
    align-items: center;
    padding: 1rem;
    color: #4a4a4a
}

#thesis-right > .thesis-block > img{
    width: 100%;
    height: auto;
}

#thesis-right > .thesis-block > .thesis-text{
    height: 100%;
    align-content: center;
    margin-left: 1rem
}

#thesis-right > .thesis-block > .thesis-text > h3{
    font-weight: 600;
}

#thesis-right > .thesis-block > .thesis-text > p{
    font-size: small;
}

#thesis-right > .thesis-block:first-child{
    background-color: #d8d8d8;
}




/* Setup footer section */
footer{
    font-size: 0.8rem;
    display: flex;
    grid-column: full-start / full-end;
    justify-content: space-between;
    border-top: 1px solid #e7e7e7;
    padding: 1rem 1.5rem 2rem
}

footer > ul {
    display: flex;
    list-style: none;
}

footer > ul > li{
    align-content: center;
    margin-right: 0.5rem;
}

footer > ul > li > a:hover{
    color: #6aa3e6
}

/* Hide nav mobile */
#nav-mobile{
    display: none;
}

/* Hide events mobile */
.events > .events-block > .events-mobile-img{
    display: none;
}

#thesis-title-mobile{
    display: none;
}


/** ********************** **/
/** End of Desktop Section **/


/* TODO */

/** Start of Mobile Section **/
/** *********************** **/

/* if the width of screen is 640px and below (aka 40rem x 16px) */
@media screen and (max-width: 40rem ) {
    /* desktop nav and practice hidden at 640px or less */
    nav, .practice{
        display: none
    }

    #nav-mobile{
        display: flex;
        justify-content: space-around;
        grid-column: full-start / full-end;
        height: 4rem;
    }

    #nav-mobile img{
        height: 2.8rem
    }

    /* Set the header image to consume the full space */
    header{
        display: grid;
        grid-column: full-start / full-end;
        background-color: #dbdbdb;
    }

    .imgcontainer{
        padding: 0;
        margin: 0
    }

    header > div{
        display: block;
        width: auto;
        height: auto;
        padding: 2rem 1rem;
    }

    header > div > h2{
        margin-bottom: 1.5rem;
        margin-top: 2rem;
    }

    header > div > a{
        background-color: #9b9b9b;
    }

    
    /* set up mobile events section */
    .events > .events-block > .events-desktop-img{
        display: none;
    }

    .events > .events-block > .events-mobile-img{
        display: block; 
        width: 100%;
        height: auto;
    }

    .events{
        display: grid;
        grid-column: full-start / full-end;
        background-color: #f3f5f5;
    }

    .events > .events-block:first-child{
        padding-top: 1rem
    }

    .events > .events-block:last-child{
        background-color: #f3f5f5;
        padding-bottom: 2rem;
    }

    .events > .events-block{
        display: flex;
        flex-direction: column;
        border: none;
        padding: 0;
        padding: 4rem 1rem 0 1rem
    }

    .events > .events-block > .events-text{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: auto;
        margin: 1rem 0rem 1.5rem 1rem;
    }

    .events > .events-block > .events-text > h3{
        font-size: xx-large
    }

    .events > .events-block > .events-text > p{
        font-size: large
    }

    .events > .events-block > .events-text > a{
        font-size: large;
    }


    /* Set learning section for mobile */
    #learning img, #learning p{
        display: none
    }

    #learning > .learning-container{
        display: flex;
        flex-direction: column;
        gap: 0.5rem
    }

    #learning > .learning-container > .learning-card > a > .learning-text{
        margin: 1rem 0rem 1.5rem 1rem;
        color: #4a4a4a;
    }

    #learning > .learning-container > .learning-card > a > .learning-text > h4{
        font-size: x-large;
        font-weight: 650;
    }

    #learning > .learning-container > .learning-card{
        background-color: #d8d8d8;
    }

    /* set thesis for mobile */
    #thesis-video h2, #thesis-video p, #thesis-right, #thesis-title{
        display: none
    }

    #thesis-title-mobile{
        display: flex;
        grid-column: full-start / full-end;
        justify-content: center;
    }
    
    #thesis-title-mobile > h2{
        font-size: xx-large;
        padding: 2rem 0
    }

    #thesis-video{
        display: flex;
        grid-column: full-start / full-end;
        padding: 0;   
    }

    #thesis-video > video{
        margin-bottom: 1.5rem
    }

    #thesis-video > p{
        padding: 0
    }

    /* Set footer for mobile */
    footer{
        padding-bottom: 1rem;
    }
    footer > ul{
        display: none;
    }
   
}

/* *********************** */
/** End of Mobile Section **/