/* TODO */

/* Reset CSS */
/* Universal selector (*) targets every element (regardless tag, class, ID) */
*{
    margin: 0;
    padding: 0;
    /* outline: 1px dashed cyan  */
}

html{
    font-size: 16px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    display: grid;
    grid-template-columns: [full-start] 0.6fr [center-end center-start] 0.4fr [full-end];
    grid-template-rows: repeat(6, min-content);
}

/* TODO */

/** Start of Desktop Section **/
/** ************************ **/

/* Set up the navbar for the desktop */
nav{
    display: flex;
    grid-column: full-start / full-end;
    background-color: #fff;
    justify-content: space-between;
    height: 4rem;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    padding-right: 1rem;
    align-content: center;
}

nav ul li:last-child{
    padding-right:1.5rem;
}
nav ul li a{
    font-size: 1rem;
}

nav > a{
    display: flex;
    align-items: center;
}

/* Set up logo styles */
.logo{
    height: 3rem;
    margin-left: 1.5rem;
}

.logoname{
    text-transform: uppercase;
    line-height: 2rem;
    font-size: 1.5rem;
}

.logoname-bold{
    font-weight: bold;
    color: #4a4a4a;
}

.logoname-light{
    font-weight: lighter;
    color: #9b9b9b;

}

/* Set up navigation links' styles */


/* Set up header area */
header{
    display: flex;   
    background-color: #d8d8d8;
    align-items: center;
    justify-content: center;
}

.imgcontainer{
    padding: 2rem 1.5rem;
}

header > img{
    max-width: 100%;  /* set the max width image can take */
    height: auto; /* set img to maintain proportionality - aspect ratio */
}

header > div{
    display:flex;
    flex-direction: column;  /* set content in a single column */
    justify-content: space-evenly;  /* center content horizontally */
    height: 18rem; /* adjust desired height of container */
    padding-right: 3rem; /* created a right padding for the right header */
    color: #4a4a4a;
}

header div > h1{
    font-size: xx-large;
    font-weight: 600;
}

header div > h2{
    font-size: large;
}

header div > a{
    display: block;
    width: 100%;
    background-color: #4a4a4a;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0rem;
}
/* hover effect for call to action link */


/* Set up practice section */
.practice{
    display: flex;   
    flex-direction: column;
    justify-content: flex-start;
}

.practice > .imgcontainer > img{
    max-width: 100%;
    height: auto;
}

.practice .practicetext{
    padding: 0 1.5rem
}

.practice > .practicetext > h1{
    font-size: xx-large;
    padding-bottom: 1.5rem;
}

.practice > .practicetext > p{
    font-size: small;
    font-weight: lighter;
}

.practice > .practicetext > p > span{
    display: block;
    margin: auto;
    font-weight: bold;
    padding: 2rem 0
}
/* Set up events section */
.events{
    display: grid;
    grid-template-rows: repeat(3, min-content);
    border-left: 1px solid #e7e7e7;
}

.events .events-block{
    display: grid;
    grid-template-columns: 0.35fr 0.65fr;
    align-items: center;
    border-bottom: 3px double #e7e7e7;
    padding: 1rem
}

.events .events-block:first-child{
    padding-top: 2rem;
}

.events .events-block:last-child{
    background-color: #d8d8d8;
}

.events img{
    width: 100%;
    height: auto;
}

.events .events-text{
    margin-left: 1rem;
    height: 100%;
    align-content: center;
}

.events .events-text h3{
    font-size: large;
}

.events .events-text p{
    font-size: small;
    padding: 0.5rem 0
}

.events .events-text a{
    color: #6aa3e6;
    font-size: small;
}


/* Setup footer section */
footer{
    font-size: 0.8rem;
    display: flex;
    grid-column: full-start / full-end;
    justify-content: space-between;
    border-top: 1px solid #e7e7e7;
    padding: 1rem 1.5rem 2rem
}

footer > ul {
    display: flex;
    list-style: none;
}

footer > ul > li{
    align-content: center;
    margin-right: 0.5rem;
}
/* Hide navigation mobile */
#nav-mobile{
    display:none
}
/* Hide events mobile */


/** ********************** **/
/** End of Desktop Section **/


/* TODO */

/** Start of Mobile Section **/
/** *********************** **/

/* if the width of screen is 640px and below (aka 40rem x 16px) */
@media screen and (max-width: 40rem ) {
    /* desktop nav hidden at 640px or less */
    nav{
        display:none
    }

    #nav-mobile{
        display: flex;
        justify-content: space-around;
        grid-column: full-start / full-end;
        height: 4rem;
    }

    #nav-mobile img{
        height: 2.8rem
    }

    /* Set the header image to consume the full space */
    header{
        display: grid;
        grid-column: full-start / full-end;
        background-color: #dbdbdb;
    }

    .imgcontainer{
        padding: 0;
    }

    header > div{
        display: block;
        width: auto;
        height: auto;
        padding: 2rem 1rem;
    }

    header > div > h2{
        margin-bottom: 1.5rem;
        margin-top: 2rem;
    }

    header > div > a{
        background-color: #9b9b9b;
    }
}


/* *********************** */
/** End of Mobile Section **/